@import "./base/base-styles";
@import "./base/container";
@import "./base/section";
@import "./utils/vars";

@import "./layout/header";
@import "./components/logo";
@import "./components/nav";
@import "./components/feedback";

@import "./layout/promo";

@import "./layout/about";

@import "./layout/feauters";

@import "./layout/team";
@import "./components/icons";

@import "./layout/clients";

@import "./components/modal";

@import "./layout/footer";
@import "./components/addrres";
@import "./components/social";
@import "./components/feedback";
@import "./components/subscribe";

@import "./layout/portfolio";
@import "./components/buttons-list";
