@media screen and (min-width: 768px) and (max-width: 1200px) {
 
   
    .container__band{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__box {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
       width: 232px;
       margin-left: 0 px;
        
    }
    .addrres__item{
        width: 232px;
        display: flex;
        justify-content: center;
    }

    .social{
        margin-left: 165px;
    }
        

        .social__title{
            justify-content: center;
           
        }
    .subscribe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 85px

    }
        .subscribe__mail{
            display: flex;
            
            justify-content: center;
           
        }
        .subscribe__form{
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        .subscribe__btn{
            margin: 0 auto;
            margin-top: 20px;
        }


    
  
   

}