@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .feedback{
        display: block;
        
        
    
    }
        .feedback__link{
            padding-top: 0px;
            padding-bottom: 0px ;

        }

        .feedback__item-mail{
            margin-bottom: 10px;
            margin-top: 21px;
            display: flex;
            justify-content: flex-start;

        }
    .feedback__item-phone{
        margin-bottom: 21px;
        display: flex;
        justify-content: flex-start;
    }
        .nav__link{
            padding-top: 34px;
            padding-bottom: 34px;
        }

}