 @media screen and (min-width: 768px) and (max-width: 1200px) {

     .team__item {
         flex-basis: calc((100% - 30px) / 2);
         justify-content: center;
         width: 100%;
     }
     .team__img{
        width: 100%;
     }

 }