.modal-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
}

.modal-mobile__window {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-white);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 15px 15px;
    display: none;
    

}

.icon__btn{
    background-color: var(--bg-white);

}
.modal-mobile__btn-closed{
    position: absolute;
    background-color: var(--bg-white);
    border: none;
    margin-top: 6px;
    margin-right: 10px;
    left: 90%;

    &:hover,
    &:focus{
        fill: var(--secondary-color);
    }

}

.modal-mobile__item{
    display: flex;
    flex-direction: column;
    margin-left: 25px;

}


.modal-mobile__list{
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 33px;
    margin-bottom: 302px;
}
.modal-mobile__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    &:hover,
    &:focus{
        color: var(--secondary-color);
    }
}
.feedback--mobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 35px;
    color: var(--paragraph-text-color);

}
.feedback__link--mobile{
    font-weight: 500;
        font-size: 24px;
        line-height: 1.1666;
        letter-spacing: 0.02em;
        &:hover,
        &:focus{
            color: var(--secondary-color);
        }
}

