 @media screen and (min-width: 480px) and (max-width: 768px) {

    .clients_item {
         display: flex;
        //  flex-basis: calc((100% - 30px) / 2);
         width: 210px;
         flex-basis: 50%;
     }
    .title-primary {
        font-weight: 700;
            font-size: 28px;
            line-height: 1.1785;
            letter-spacing: 0.03em;
    }
        
}
@media screen and (max-width: 480px){
    .title-primary {
            font-weight: 700;
            font-size: 28px;
            line-height: 1.1785;
            letter-spacing: 0.03em;
        }

}