@media screen and (max-width: 767px) {

    .container__band{
        display: flex;
        flex-direction: column;
       
        align-content: center;
        justify-content: center;
       
    }
    .footer__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


    }
    .addrres__item{
        display: flex;
        align-content: center;
            justify-content: center;
    }


    .social{
        margin: 0 auto;
        margin-top: 60px;
    
        display: block;
        align-content: center;
        justify-content: center;
    }
        .social__title{
            justify-content: center;
        }
    .subscribe{
        margin-left: 0px;
        
        margin-top: 60px;
       
        display: block;
        align-content: center;
        justify-content: center;
    }
        .subscribe__mail{
           display: flex;
           align-items: center;
           max-width: 450px;

        }


        .subscribe__title{
            display: flex;
            justify-content: center;
            
        }
    .subscribe__btn{
       margin: 0 auto;
        margin-top: 20px;

    }
        .subscribe__form{
            display: flex;
            flex-direction: column;
                align-content: center;
        }

   
}
@media screen and (max-width: 480px){
    .subscribe__mail {
            display: flex;
            align-items: center;
            width: 100%;
    
        }
}