 @media screen  and (max-width: 768px) {
    // .container {
    //     width: 100%;
    // }
    .nav {
        display: none;
    }
    .feedback {
        display: none;
    
    }

    .logo {
        margin: 16px 15px ;
    }
    .btn-burger__open {
        
        background-color: #fff;
        border: none;
       margin: 10px 15px 10px auto;
       cursor: pointer;
    }
}