 @media screen  and (max-width: 768px) {

.modal__window {
        max-width: 450px;

    }

    .checkbox__custom {

        margin-left: -31px;
        top: -1px;
    }

    .checkbox__text {
        font-size: 12px;
        line-height: 1.1666;
        letter-spacing: 0.03em;
    }

    .modal__link {
        font-size: 12px;
        line-height: 1.1666;
        letter-spacing: 0.03em;

    }

}