@media screen and (max-width: 767px) {
    
    .promo__title {
        
        letter-spacing: 0.06em;
        font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            
            
    }
    

}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px){
    .promo{
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1x-mobile.jpg);
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2x-mobile.jpg);
            padding: 118px 0;
    }
}

