@media screen and (max-width: 480px) {
    
    .promo__title {
        
        letter-spacing: 0.06em;
        font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            
    }
    

}