@media screen and (max-width: 480px) {


    .team__title {
        display: flex;
        justify-content: center;
    }

    .team__list
     {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        

    }
    .team_item {
        display: flex;
        flex-basis: calc((100% - 90px) / 4);
    }
    .team_img{
        display: block;
        width: 100%;
    }
    
}