.features {
    background: var(--bg-white);
}

.features__title {
    font-size: 14px;
    line-height: 1.1428;
 
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feauter__box {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.features__text {
    color: var(--paragraph-text-color);
        font-size: 14px;
        line-height: 1.71;
}

.feauter__satellite::before {
    background-color: var(--bg-icons);
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-position: 50% 50%;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../images/feature1.svg);
}


.feauter__clock::before {
    background-color: var(--bg-icons);
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-position: 50% 50%;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../images/feature2.svg);
}

.feauter__diagram::before {
    background-color: var(--bg-icons);
    content: "";
    width: 270px;
    height: 120px;
    // min-height: 120px;
    display: block;
    background-position: 50% 50%;
    background-image: url(../images/feature3.svg);
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}


.feauter__astronaut::before {
    background-color: var(--bg-icons);
    content: "";
    width: 270px;
    height: 120px;
    display: block;
    background-position: 50% 50%;
    justify-content: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../images/feature4.svg);
}

.features__item {
    width: 270px;
}


.features__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.features__title--hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;

}