.social {
    margin-left: 70px;
    display: inline-block;
    justify-content: center;
    align-items: baseline;
}

.social__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-white);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-icons--footer {
    display: flex;
    gap: 10px;

}




.social-icons__link--footer {
    display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--bg-white);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
                background-color: var(--secondary-color);
                fill: #FFFFFF;
            }
}

// .social-icons__link--footer:hover,
// .social-icons__link--footer:focus {
//     background-color: var(--secondary-color);
//     fill: #FFFFFF;
// }